.profileCard {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  gap: 5px;
  padding: 10px;
  border-radius: 20px;
  background-color: rgb(238, 238, 238);
  -webkit-box-shadow: 7px 5px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 7px 5px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 7px 5px 5px 0px rgba(0, 0, 0, 0.75);
  margin-bottom: 20px;
}

.profileStatsList {
  display: flex;
  gap: 20px;
}

.profileStatsItem {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  color: rgb(57, 62, 70);
}

.profileUserContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  font-size: 25px;
  font-weight: bold;
  font-style: italic;
  color: rgb(57, 62, 70);
}

.profileUserDesc {
  display: flex;
}
