.transactionTable {
  margin-top: 20px;
  font-size: 15px;
  font-weight: bold;
  color: rgb(57, 62, 70);
  border-collapse: collapse;

  border-radius: 20px;
  background-color: rgb(238, 238, 238);
  -webkit-box-shadow: 7px 5px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 7px 5px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 7px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

.transcationTableBodyItem {
  padding: 30px;
  font-size: 15px;
  font-weight: bold;
  font-style: italic;
  color: rgb(57, 62, 70);
}

.transactionTableTitlesItem {
  padding: 30px;
  font-size: 25px;
  font-weight: bold;
  font-style: italic;
  color: rgb(57, 62, 70);
}
